.DS_Store
CMakeCache.txt
assists.app/
cmake_install.cmake
CMakeFiles/
libglad.a
assists
Makefile
opengl32.dll
assists.exe
glfw-3.4/src/libglfw3.a
libimgui.a
imgui-temp/
cross/
build_universal.sh
imgui-1.90.8/misc/fonts/