designs/

kittopia-dumps-master/
imgui-temp/
imgui-docking/
glfw-3.3/
glfw-3.4/
src/glad.c
include/

.DS_Store
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

assists.app/
libglad.a
assists
Makefile
opengl32.dll
assists.exe
glfw-3.4/src/libglfw3.a
libimgui.a

imgui.ini
illPaths

*.py
src/configs/parser_test
src/configs/parser_test.cpp
src/configs/CMakeLists.txt
src/configs/run.sh
src/engine/solar
src/engine/run.sh
src/engine/positions.txt
src/engine/motion_test.cpp
src/engine/CMakeLists.txt
src/engine/buildAndRun.sh

src/debug/errorCodes.md